.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.pokedex-buttons-panel {
  display: flex;
  flex-direction: row;
}

.pokedex-button {
  width: 100px;
  height: 50px;
  background-color: green;
}

.pokedex-button:disabled {
  background-color: #D0D0D0;
}

.filter-button {
  width: 80px;
  height: 50px;
  margin: 10px;
  background-color: orange;
}

.locations-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 20% 5% 20%;
}


h2 {
  margin: 2% auto;
}

.details {
  text-align: center;
}

label {
  padding: 20px;
  font-weight: 700;
  color: red;
}

label:hover {
  color: white;
  background-color: red;
  border-radius: 12px;
  cursor: pointer;
}